@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('./enterprises.css');
@import url('./getStarted.css');
@import url('./feedbacks.css');
@import url('./graphAndFooter.css');
@import url('./mediaQueries.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    background-color: #c7c7c7;
  }
  
::-webkit-scrollbar-thumb{
    background-color: #7a7a7a;
    border-radius: 6px;
  }

@keyframes entering{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

:root{
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    color: white;
}

body > a{
    transition: all ease-in 0.2s;
    display: flex;
    position: fixed;
    right: 45px;
    bottom: 100px;
    width: 80px;
    height: 80px;
    background-color: rgb(47, 47, 224);
    background-image: url('../images/scrollArrow.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 1px 0px 2px rgba(255, 255, 255, 0.959);
    cursor: pointer;   
}

body > main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

body > main > header{
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > main > header > h2{
    font-size: 35px;
    font-weight: 600;
}

body > main h2 > span{
    font-weight: 400;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 45%;
    justify-content: space-evenly;
    gap: 5%;
    align-items: center;
    
}

.menu a{
    transition: all ease-in-out 0.2s;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    box-shadow: 0 2px 0px 0px rgb(255, 255, 255);
}

.menu a:last-child{
    background-color: rgba(64, 64, 226, 0.856);
    padding: 1.5% 2%;
    border-radius: 12px;
}

.mobileMenu{
    display: none;
}

.mobileMenu > .mobileLinks{
    display: none;
    width: 250px;
    height: 300px;
    background-color: rgba(55, 55, 255, 0.788);
    border-radius: 5px;
    backdrop-filter: blur(2px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    padding: 10px 2px;
    animation: entering 0.3s ease-in-out;
}

.mobileLinks > a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid white;
    width: 90%;
    padding: 10px 0;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, 0.356);
}

.experience{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title h1{
    font-size: 35px;
}

.title span{
    font-size: 15px;
}

.website{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website img{
    width: 90%;
}